/* static/css/main.css */

:root {
    --bg-color: #0a0a0a;
    --container-bg: #1a0029; /* Púrpura muy oscuro */
    --accent-color: #00f3ff;  /* Celeste Neón */
    --text-color: #39ff14;    /* Verde Hacker */
    --border-color: #2d004d;  /* Púrpura */
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Courier New', Courier, monospace;
    padding: 40px;
}

.container {
    background-color: var(--container-bg);
    border: 2px solid var(--border-color);
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 0 15px rgba(45, 0, 77, 0.7);
    max-width: 800px;
    margin: auto;
}

h1, h2 {
    color: var(--accent-color);
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Estilos para enlaces */
a {
    color: var(--accent-color);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    filter: brightness(1.2);
}

/* Estilos para Inputs y Formulario */
input[type="text"], textarea, select {
    background-color: #121212;
    border: 1px solid var(--accent-color);
    color: var(--text-color);
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 5px;
}

input:focus {
    outline: none;
    box-shadow: 0 0 10px var(--accent-color);
}

/* Botón estilo Cyber */
button, .btn-submit {
    background-color: var(--border-color);
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background-color: var(--accent-color);
    color: #000;
}

